:root {
  --Lightorange: hsl(15, 100%, 70%); /*work*/
  --Softblue: hsl(195, 74%, 62%); /*play*/
  --Lightred: hsl(348, 100%, 68%); /*study*/
  --Limegreen: hsl(145, 58%, 55%); /*exercise*/
  --Violet: hsl(264, 64%, 52%); /*study*/
  --Softorange: hsl(43, 84%, 65%); /*self-care*/
  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --Desaturatedblue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--Verydarkblue);
}
.grid {
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.box {
  background-color: var(--Darkblue);
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  height: fit-content;
}
.box1 {
  grid-row: 1/3;
}
.img-circle {
  width: 70px;
  height: 70px;
  background-image: url("/images/image-jeremy.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  border: 2px white solid;
  border-radius: 50%;
}
.user-details {
  background-color: var(--Violet);
  padding: 2rem;
  border-radius: 13px;
}
.user-name {
  color: white;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
  margin-right: 3rem;
}
.user-name span {
  display: block;
  font-size: small;
  color: var(--PaleBlue);
}
.periods {
  color: white;
  padding: 1.5rem;
}
.periods ul {
  list-style-type: none;
}
.periods li {
  margin-bottom: 0.6rem;
}
.box-img {
  background-color: var(--Lightorange);
  position: relative;
  text-align: end;
  height: 50px;
  overflow: hidden;
  z-index: 1;
}
.box-img img {
  margin-top: -1.2rem;
}
.content-box {
  position: relative;
  z-index: 100;

  padding: 1.5rem;
}
.content-box .activity {
  margin-bottom: 1.5rem;
}
.content-box .current {
  font-size: 3rem;
  font-weight: 300;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.content-box .previous {
  font-weight: 300;
  color: var(--Softblue);
}
.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity .more {
  display: flex;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  align-items: center;
}
.activity .more span {
  background-color: wheat;
  position: relative;
  background-color: white;
  border-radius: 5px;
  font-size: 0;
  margin-left: 10px;
  padding: 3px;
}
.more span:before {
  position: absolute;
  left: -10px; /* <-- align the circle horizontally */
  top: 0; /* <-- Added declaration             */
  content: "";
  background-color: white;
  border-radius: 5px;
  font-size: 0;
  padding: 3px;
}

.more span:after {
  position: absolute;
  left: 10px; /* <-- align the circle horizontally */
  top: 0; /* <-- Added declaration             */
  content: "";
  background-color: white;
  border-radius: 5px;
  font-size: 0;
  padding: 3px;
}
@media (max-width: 680px) {
  .grid {
    grid-template-columns: 1fr;
    width: 90%;
    height: 100%;
  }
  .box1 {
    grid: 1/2;
  }
}
